<h1>Acerca de los autores</h1>
<p>
<img src='/images/authors_256.jpg'/>
<p>
<p>Página creada por Carl, Dug y Russell</p>
<p><a href='http://www.enchanted-rose.org/dug/'>Visita la página web del club de fans de Dug</a></p>