<h3>Preguntas encontradas</h3>
<% if ( search ) { %>
<div>(Filtro de búsqueda aplicado: <i><%= search %></i>)</div>
<% } %>
<table width="100%">
<%  for ( var i = 0; i < quizes.length; i++ ) { %>
	<tr><td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<%  } %>
</table>
<div>
	<form action="/quizes">
		Filtar por pregunta:
		<input type="text" name="search" value="" />
		<input type="submit" value="Buscar" />
	</form>
</div>